<section class="latestproducts">
  <div class="container">
    <div class="title-box">
      <h2>Clothes</h2>
    </div>
    <div class="row latest">
  
    <!--------------t-shirt--------------->
  
      <div class="col-md-3">
        <div class="product-top">  
        <img src="assets\image\clothes\c1.jpg" class="shirt">
        <div class="overlay-right shirt-full">
          <button type="button" class="btn btn-secondary " title="add to wishlist">
            <i class="fa fa-heart-o"></i><br>
          </button>
          <button type="button" class="btn btn-secondary " title="add to cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
        </div>
      </div>
  
      
    
      <!-------------------sari------------------------>
      <div class="col-md-3">
      <div class="product-top">  
      <img src="assets\image\clothes\c2.jpg" class="sari">
        <div class="overlay-right sari-full">
          <button type="button" class="btn btn-secondary " title="add to wishlist">
            <i class="fa fa-heart-o"></i><br>
          </button>
          <button type="button" class="btn btn-secondary" title="add to cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
    </div>
      </div>
        <!---------------------dress--------------------------->
      <div class="col-md-4">
        <div class="product-top">  
        <img src="assets\image\clothes\cloth3.jpg" class="dress">
        <div class="overlay-right dress-full">
          <button type="button" class="btn btn-secondary " title="add to wishlist">
            <i class="fa fa-heart-o"></i><br>
          </button>
          <button type="button" class="btn btn-secondary " title="add to cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
        </div>
      </div>
      </div>
     
      <!-----------------------------TEXT -------------------------------->
      <div class="text">
      <div class="product-bottom text-shirt">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
        <h3>JUNEBERRY Tie Dye Tshirt for Women</h3>  
        <h5><span>&#8377;</span>449</h5>
       <a routerLink='/payment' class="square_btn">BUY</a>
    </div>
    
    <div class="product-bottom text-sari">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <h3>Velmita Women's Chanderi Cotton Saree</h3>
      <h5><span>&#8377;</span>1,349 </h5>
      <a routerLink='/payment' class="square_btn">BUY</a>
  </div>
    <div class="product-bottom text-dress">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-o"></i>
      <h3>Women's Cotton  Salwar Suit (Grey_Free Size)
      </h3>
      <h5><span>&#8377;</span>437</h5>
      <a routerLink='/payment' class="square_btn">BUY</a>
  </div>
  </div>
      <!------------------------hooddie-------------------------------->
      <div class="row latest-2">
      <div class="col-md-4">
        <div class="product-top">  
        <img src="assets\image\clothes\c3.jpg" class="hudi">
        <div class="overlay-right hudi-full">
          <button type="button" class="btn btn-secondary" title="add to wishlist">
            <i class="fa fa-heart-o"></i><br>
          </button>
          <button type="button" class="btn btn-secondary" title="add to cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      </div>
        <!------------------------------t-shirt---------------------------------->
      <div class="col-md-4">
        <div class="product-top">  
        <img src="assets\image\clothes\cloth7.jpg" class="t-shirt">
        <div class="overlay-right">
          <button type="button" class="btn btn-secondary" title="add to wishlist">
            <i class="fa fa-heart-o"></i><br>
          </button>
          <button type="button" class="btn btn-secondary" title="add to cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
        </div>
      </div>
        <!-------------------------------kurta------------------------->
      <div class="col-md-4">
        <div class="product-top">  
        <img src="assets\image\clothes\c5.jpg" class="kurta">
        <div class="overlay-right">
          <button type="button" class="btn btn-secondary" title="add to wishlist">
            <i class="fa fa-heart-o"></i><br>
          </button>
          <button type="button" class="btn btn-secondary" title="add to cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div> 
        </div>  
      </div>
    </div>
    
    <!-------------------------------------------->
    <div class="text">
    <div class="product-bottom text-hudi">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-o"></i>
     <h3>T2F Boys Sweatshirt</h3>
      <h5><span>&#8377;</span>349</h5>
      <a routerLink='/payment' class="square_btn">BUY</a>
      
  </div>
  <div class="product-bottom text-t-shirt">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star-half-o"></i>
   <h3>EYEBOGLER Band Collar Men's T-Shirt</h3>
    <h5><span>&#8377;</span>399</h5>
    <a routerLink='/payment' class="square_btn">BUY</a>
  </div>
  <div class="product-bottom text-kurta">
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star-half-o"></i>
  <i class="fa fa-star-o"></i>
  <h3>BENSTOKE Men's Cotton Regular Kurta</h3>
  <h5><span>&#8377;</span>499</h5>
  <a routerLink='/payment' class="square_btn">BUY</a>
  </div>
  </div>
    </div>
    
  </section>
  
  <!--------------------------LATEST PRODUCT END---------------------------------------------->
  
  <!-------------------------FOOTER------------------------->
  <footer class="footer">
    <div class="container">
      <div class="social-links">
        <a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
        <a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>         
        <a href="" class="facebook" ><i class="fa fa-facebook"></i><span>facebook</span></a>
        <a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>         
        <a href="" class="youtube" ><i class="fa fa-youtube"></i><span>youtube</span></a>
        <a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
      </div>
    </div>
 
</footer>
<!-- Footer Section End -->
