*
{

    padding:0px; 
}

/*-----------LATEST PRODUCTS-----------------*/


.container
{
    margin:0;
   
}


/*---TITLE-------*/
.title-box
{
    margin-top:60px;
    padding:8px 140px;
    background:linear-gradient(45deg, #665de0, #ec9868);
    color:black;
    width:500px;
    margin-bottom:5px;
    display:flex;
    
}
.title-box h2
{
    font-size:28px;
}
.title-box::after
{
    content:'';
    border-top:57px solid  #e29264ee;
    border-right:34px solid transparent;
    position:absolute;
    display:flex;
    margin-top:-8px;
    margin-left:360px;

}
/*-------------TITLE END-------------*/



.latest
{
    margin:0px;  
    
}

.overlay-right
{
    display:block;
    opacity:0;
    position:absolute;
    top:60%;
    margin-left:0px; 
}

.overlay-right .fa
{
    cursor:pointer;
    background-color:white;
    color:black;
    height:35px;
    width:35px;
    font-size:20px;  
    padding:7px;
    margin-left:160px;
    margin-top:0%;
    margin-bottom:2%;
}
.overlay-right .btn-secondary
{
    background:none !important;
    border:none !important;
    box-shadow:none !important;
}

.product-top:hover .overlay-right
{
    opacity:1;
    margin-left:5%;
    transition:0.5s;
}
.tv2-full
{
    padding-left:70px;
}
.tv3-full
{
    padding-left:150px;
   
}
.bulb1-full
{
    padding-left:20px;
}
/*---------BUTTON BUY NOW----------------*/
.square_btn{
    display: inline-block;
    margin-top:5px;
    padding: 5px 16px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    color:rgb(19, 18, 18);
    text-shadow: 1px 1px 1px rgba(228, 178, 178, 0.37);
    background-image: -webkit-linear-gradient(#b1e7ee 0%, #9fdcf8 100%);
    background-image: linear-gradient(#88dce2 0%, #ecb8cc 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #5e7fca;
    
}

.square_btn:active
{
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}
/*----------------product-bottom text  css---*/
.text
{
    margin:0px;
    display:inline-flex;
   margin-bottom:20px;
}
.text-tv1
{
    margin-top:15px;
    margin-left:170px;
}
.text-tv2
{
    margin-top:15px;
    margin-left:80px;

}
.text-tv3
{
    margin-top:15px;
    margin-left:160px;

}
.text-bulb1
{
    margin-left:150px;
}
.text-fan
{
    margin-left:160px;

}
.text-bulb2
{
    
    margin-left:120px;
}
.product-bottom .fa
{
    color:rgb(255, 140, 0);
    font-size:15px;
}
.product-bottom h3
{
    font-size:20px;
    font-weight:bold;
}
.product-bottom h5
{
    font-size:19px;    
}
/*-----------------images-----------------*/

.tv1
{
    margin-left:150px;
    margin-top:72px;
    height:200px;
    width:300px;
}
.tv2
{
    height:200px;
    width:300px;
    margin-left:220px;
    margin-top:68px;
}
.tv3
{
    height:200px;
    width:300px;
    margin-left:320px;
    margin-top:68px;
}
.bulb1
{
    margin-left:150px;
    margin-top:72px;
    height:230px;
    width:250px;
}
.fan
{
    margin-left:140px;
    margin-top:72px;
    height:250px;
    width:300px;
}
.bulb2
{
    margin-left:150px;
    margin-top:100px;
    height:250px;
    width:300px;


}

/*------------------FOOTER--------------------------*/

.footer 
{

    padding-left: 170px;
    margin:0px;
    background: #222121;
    padding-top: 46px;
    padding-bottom: 50px;

}


.social-links a {
	margin-right: 88px;
	display: inline-block;
}
.social-links a i {
	font-size: 30px;
	color: #d7d7d7;
	float: left;
	margin-right: 19px;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.social-links a span {
	display: inline-block;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	color: #9f9fa0;
	padding-top: 10px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.social-links a.instagram:hover i {
	color: #e48334;
}


.social-links a.twitter:hover i {
	color: #5abed6;
}

.social-links a.pinterest:hover i {
	color: #CD212D;
}

.social-links a.facebook:hover i {
	color: #39599F;
}

.social-links a.youtube:hover i {
	color: #D12227;
}

.social-links a.tumblr:hover i {
	color: #7598ca;
}

.social-links a:hover span {
	color: #fff;
}

/*-----------FOOTER END---------*/