<section class="latestproducts">
  <div class="container">
    <div class="title-box">
      <h2>Electronics</h2>
    </div>
    <div class="row latest">
  
    <!--------------TV-1---------------->
  
      <div class="col-md-3">
        <div class="product-top">  
        <img src="assets\image\electronics\tvnew1.jpg" class="tv1">
        <div class="overlay-right tv1-full">
          <button type="button" class="btn btn-secondary " title="add to wishlist">
            <i class="fa fa-heart-o"></i><br>
          </button>
          <button type="button" class="btn btn-secondary" title="add to cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
        </div>
      </div>
  
      
    
      <!-------------------tv-2------------------------>
      <div class="col-md-3">
      <div class="product-top">  
      <img src="assets\image\electronics\tvnew2.jpg" class="tv2">
        <div class="overlay-right tv2-full">
          <button type="button" class="btn btn-secondary " title="add to wishlist">
            <i class="fa fa-heart-o"></i><br>
          </button>
          <button type="button" class="btn btn-secondary " title="add to cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
    </div>
      </div>
        <!----------------------tv-3--------------------------->
      <div class="col-md-4">
        <div class="product-top">  
        <img src="assets\image\electronics\tv1.jpg" class="tv3">
        <div class="overlay-right tv3-full">
          <button type="button" class="btn btn-secondary " title="add to wishlist">
            <i class="fa fa-heart-o"></i><br>
          </button>
          <button type="button" class="btn btn-secondary " title="add to cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
        </div>
      </div>
      </div>
     
      <!-----------------------------TEXT -------------------------------->
      <div class="text">
      <div class="product-bottom text-tv1">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
        <h3>TCL 138.7 cm (55 inches)  AI 4K Ultra HD Smart Certified Android LED TV</h3>  
        <h5><span>&#8377;</span>41,999</h5>
       <a routerLink='/payment' class="square_btn">BUY</a>
    </div>
    
    <div class="product-bottom text-tv2">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <h3>OnePlus Y Series 80 cm (32 inches) HD Ready LED Smart Android TV </h3>
      <h5><span>&#8377;</span>19,949</h5>
      <a routerLink='/payment' class="square_btn">BUY</a>
  </div>
    <div class="product-bottom text-tv3">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-o"></i>
      <h3>Mi TV 4A PRO 80 cm (32 inches) HD Ready Android LED TV </h3>
      <h5><span>&#8377;</span>13,999</h5>
      <a routerLink='/payment' class="square_btn">BUY</a>
  </div>
  </div>
      <!------------------------bulb-1-------------------------------->
      <div class="row latest-2">
      <div class="col-md-4">
        <div class="product-top">  
        <img src="assets\image\electronics\bulb1.jpg" class="bulb1">
        <div class="overlay-right bulb1-full">
          <button type="button" class="btn btn-secondary" title="add to wishlist">
            <i class="fa fa-heart-o"></i><br>
          </button>
          <button type="button" class="btn btn-secondary" title="add to cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      </div>
        <!------------------------------fan---------------------------------->
      <div class="col-md-4">
        <div class="product-top">  
        <img src="assets\image\electronics\fan1.jpg" class="fan">
        <div class="overlay-right">
          <button type="button" class="btn btn-secondary" title="add to wishlist">
            <i class="fa fa-heart-o"></i><br>
          </button>
          <button type="button" class="btn btn-secondary" title="add to cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
        </div>
      </div>
        <!-------------------------------bulb2------------------------->
      <div class="col-md-4">
        <div class="product-top">  
        <img src="assets\image\electronics\bulb2.jpg" class="bulb2">
        <div class="overlay-right">
          <button type="button" class="btn btn-secondary" title="add to wishlist">
            <i class="fa fa-heart-o"></i><br>
          </button>
          <button type="button" class="btn btn-secondary" title="add to cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div> 
        </div>  
      </div>
    </div>
    
    <!----------------------TEXT---------------------->
    <div class="text">
    <div class="product-bottom text-bulb1">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-o"></i>
     <h3>Fizzytech Lumens Vintage Edison Glass Bulb with Squirrel Cage</h3>
      <h5><span>&#8377;</span>449</h5>
      <a routerLink='/payment' class="square_btn">BUY</a>
      
  </div>
  <div class="product-bottom text-fan">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star-half-o"></i>
   <h3>Luminous Deco Premium Copter 1200mm Ceiling Fan (Silent Blue)</h3>
    <h5><span>&#8377;</span>3,959</h5>
    <a routerLink='/payment' class="square_btn">BUY</a>
  </div>
  <div class="product-bottom text-bulb2">
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star-half-o"></i>
  <i class="fa fa-star-o"></i>
  <h3>Wipro WiFi Enabled Smart LED Bulb (Compatible with Amazon Alexa)</h3>
  <h5><span>&#8377;</span>2,599</h5>
  <a routerLink='/payment' class="square_btn">BUY</a>
  </div>
  </div>
    </div>
    
  </section>
  
  <!--------------------------LATEST PRODUCT END---------------------------------------------->
  
  <!-------------------------FOOTER------------------------->
  <footer class="footer">
    <div class="container">
      <div class="social-links">
        <a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
        <a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>         
        <a href="" class="facebook" ><i class="fa fa-facebook"></i><span>facebook</span></a>
        <a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>         
        <a href="" class="youtube" ><i class="fa fa-youtube"></i><span>youtube</span></a>
        <a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
      </div>
    </div>
 
</footer>
<!-- Footer Section End -->
