<section class="latestproducts">
  <div class="container">
    <div class="title-box">
      <h2>Mobiles-Laptop</h2>
    </div>
    <div class="row latest">
  
    <!--------------laptop-1---------------->
  
      <div class="col-md-3">
        <div class="product-top">  
        <img src="assets\image\phone\lap1.jpg" class="l1">
        <div class="overlay-right l1-full">
          <button type="button" class="btn btn-secondary " title="add to wishlist">
            <i class="fa fa-heart-o"></i><br>
          </button>
          <button type="button" class="btn btn-secondary" title="add to cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
        </div>
      </div>
  
      
    
      <!-------------------laptop-2-------------------------->
      <div class="col-md-3">
      <div class="product-top">  
      <img src="assets\image\phone\laptop1.jpg" class="l2">
        <div class="overlay-right l2-full">
          <button type="button" class="btn btn-secondary " title="add to wishlist">
            <i class="fa fa-heart-o"></i><br>
          </button>
          <button type="button" class="btn btn-secondary " title="add to cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
    </div>
      </div>
        <!----------------------laptop-3--------------------------->
      <div class="col-md-4">
        <div class="product-top">  
        <img src="assets\image\phone\lap3.jpg" class="l3">
        <div class="overlay-right l3-full">
          <button type="button" class="btn btn-secondary " title="add to wishlist">
            <i class="fa fa-heart-o"></i><br>
          </button>
          <button type="button" class="btn btn-secondary " title="add to cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
        </div>
      </div>
      </div>
     
      <!-----------------------------TEXT -------------------------------->
      <div class="text">
      <div class="product-bottom text-l1">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
        <h3>Lenovo Ideapad Slim<br> Intel Core i3 10th Gen<br> 15.6 inch FHD Thin and Light</h3>  
        <h5><span>&#8377;</span>42,490</h5>
       <a routerLink='/payment' class="square_btn">BUY</a>
    </div>
    
    <div class="product-bottom text-l2">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <h3>ASUS VivoBook 15 Intel <br>15.6-inch HD Laptop<br> (4GB RAM/Windows 10)</h3>
      <h5><span>&#8377;</span>32,980</h5>
      <a routerLink='/payment' class="square_btn">BUY</a>
  </div>
    <div class="product-bottom text-l3">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-o"></i>
      <h3>ASUS VivoBook Ultra K14 <br>Intel Core i3 10th Gen<br> (4GB RAM/Windows 10)</h3>
      <h5><span>&#8377;</span>38,999</h5>
      <a routerLink='/payment' class="square_btn">BUY</a>
  </div>
  </div>
      <!------------------------MOBILE-1-------------------------------->
      <div class="row latest-2">
      <div class="col-md-4">
        <div class="product-top">  
        <img src="assets\image\phone\phone1new.jpg" class="m1">
        <div class="overlay-right m1-full">
          <button type="button" class="btn btn-secondary" title="add to wishlist">
            <i class="fa fa-heart-o"></i><br>
          </button>
          <button type="button" class="btn btn-secondary" title="add to cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      </div>
        <!------------------------------mobile-2---------------------------------->
      <div class="col-md-4">
        <div class="product-top">  
        <img src="assets\image\phone\phone2new.jpg" class="m2">
        <div class="overlay-right">
          <button type="button" class="btn btn-secondary" title="add to wishlist">
            <i class="fa fa-heart-o"></i><br>
          </button>
          <button type="button" class="btn btn-secondary" title="add to cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
        </div>
      </div>
        <!-------------------------------ALEXA------------------------->
      <div class="col-md-4">
        <div class="product-top">  
        <img src="assets\image\phone\alexa.jpg" class="alexa">
        <div class="overlay-right">
          <button type="button" class="btn btn-secondary" title="add to wishlist">
            <i class="fa fa-heart-o"></i><br>
          </button>
          <button type="button" class="btn btn-secondary" title="add to cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div> 
        </div>  
      </div>
    </div>
    
    <!--------------------TEXT------------------------>
    <div class="text">
    <div class="product-bottom text-m1">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-o"></i>
     <h3> OPPO F17 (Navy Blue,6GB RAM, 128GB Storage)</h3>
      <h5><span>&#8377;</span>17,999</h5>
      <a routerLink='/payment' class="square_btn">BUY</a>
      
  </div>
  <div class="product-bottom text-m2">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star-half-o"></i>
   <h3>Redmi Note 8 (Neptune Blue,4GB RAM, 64GB Storage)</h3>
    <h5><span>&#8377;</span>12,799</h5>
    <a routerLink='/payment' class="square_btn">BUY</a>
  </div>
  <div class="product-bottom text-alexa">
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star-half-o"></i>
  <i class="fa fa-star-o"></i>
  <h3>Amazon Echo (2nd Gen) - Powered by Dolby – White</h3>
  <h5><span>&#8377;</span>9,999</h5>
  <a routerLink='/payment' class="square_btn">BUY</a>
  </div>
  </div>
    </div>
    
  </section>
  
  <!--------------------------LATEST PRODUCT END---------------------------------------------->
  
  <!-------------------------FOOTER------------------------->
  <footer class="footer">
    <div class="container">
      <div class="social-links">
        <a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
        <a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>         
        <a href="" class="facebook" ><i class="fa fa-facebook"></i><span>facebook</span></a>
        <a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>         
        <a href="" class="youtube" ><i class="fa fa-youtube"></i><span>youtube</span></a>
        <a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
      </div>
    </div>
 
</footer>
<!-- Footer Section End -->
