<section class="latestproducts">
  <div class="container">
    <div class="title-box">
      <h2>Grocery</h2>
    </div>
    <div class="row latest">
  
    <!--------------honey---------------->
  
      <div class="col-md-3">
        <div class="product-top">  
        <img src="assets\image\grocery\g1.jpg" class="honey">
        <div class="overlay-right honey-full">
          <button type="button" class="btn btn-secondary" title="add to wishlist">
            <i class="fa fa-heart-o"></i><br>
          </button>
          <button type="button" class="btn btn-secondary " title="add to cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
        </div>
      </div>
  
      
    
      <!------------------tea------------------------>
      <div class="col-md-3">
      <div class="product-top">  
      <img src="assets\image\grocery\g2.jpg" class="tea">
        <div class="overlay-right tea-full">
          <button type="button" class="btn btn-secondary " title="add to wishlist">
            <i class="fa fa-heart-o"></i><br>
          </button>
          <button type="button" class="btn btn-secondary" title="add to cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
    </div>
      </div>
        <!----------------------oats--------------------------->
      <div class="col-md-4">
        <div class="product-top">  
        <img src="assets\image\grocery\g3.jpg" class="oat">
        <div class="overlay-right oat-full">
          <button type="button" class="btn btn-secondary " title="add to wishlist">
            <i class="fa fa-heart-o"></i><br>
          </button>
          <button type="button" class="btn btn-secondary " title="add to cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
        </div>
      </div>
      </div>
     
      <!-----------------------------TEXT -------------------------------->
      <div class="text">
      <div class="product-bottom text-honey">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
        <h3>Dabur Honey - 1 kg </h3>  
        <h5><span>&#8377;</span>375</h5>
       <a routerLink='/payment' class="square_btn">BUY</a>
    </div>
    
    <div class="product-bottom text-tea">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <h3>Tata Tea Gold, 500g</h3>
      <h5><span>&#8377;</span>350</h5>
      <a routerLink='/payment' class="square_btn">BUY</a>
  </div>
    <div class="product-bottom text-oat">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-o"></i>
      <h3>Quaker Oats Pouch, 1kg</h3>
      <h5><span>&#8377;</span>190</h5>
      <a routerLink='/payment' class="square_btn">BUY</a>
  </div>
  </div>
      <!---------------------maggie-------------------------------->
      <div class="row latest-2">
      <div class="col-md-4">
        <div class="product-top">  
        <img src="assets\image\grocery\g4.jpg" class="maggi">
        <div class="overlay-right maggi-full">
          <button type="button" class="btn btn-secondary" title="add to wishlist">
            <i class="fa fa-heart-o"></i><br>
          </button>
          <button type="button" class="btn btn-secondary" title="add to cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      </div>
        <!------------------------------rice---------------------------------->
      <div class="col-md-4">
        <div class="product-top">  
        <img src="assets\image\grocery\g5.jpg" class="rice">
        <div class="overlay-right">
          <button type="button" class="btn btn-secondary" title="add to wishlist">
            <i class="fa fa-heart-o"></i><br>
          </button>
          <button type="button" class="btn btn-secondary" title="add to cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
        </div>
      </div>
        <!-------------------------------grapes------------------------->
      <div class="col-md-4">
        <div class="product-top">  
        <img src="assets\image\grocery\g6.jpg" class="grapes">
        <div class="overlay-right">
          <button type="button" class="btn btn-secondary" title="add to wishlist">
            <i class="fa fa-heart-o"></i><br>
          </button>
          <button type="button" class="btn btn-secondary" title="add to cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div> 
        </div>  
      </div>
    </div>
    
    <!-------------------------------------------->
    <div class="text">
    <div class="product-bottom text-maggi">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-o"></i>
     <h3>Maggi 2-Minute,70g (Pack of 12)</h3>
      <h5><span>&#8377;</span>155</h5>
      <a routerLink='/payment' class="square_btn">BUY</a>
      
  </div>
  <div class="product-bottom text-rice">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star-half-o"></i>
   <h3>Daawat Rozana Super Basmati Rice, 5kg</h3>
    <h5><span>&#8377;</span>419</h5>
    <a routerLink='/payment' class="square_btn">BUY</a>
  </div>
  <div class="product-bottom text-grapes">
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star-half-o"></i>
  <i class="fa fa-star-o"></i>
  <h3>Vedaka Popular Raisins, 100g</h3>
  <h5><span>&#8377;</span>49</h5>
  <a routerLink='/payment' class="square_btn">BUY</a>
  </div>
  </div>
    </div>
    
  </section>
  
  <!--------------------------LATEST PRODUCT END---------------------------------------------->
  
  <!-------------------------FOOTER------------------------->
  <footer class="footer">
    <div class="container">
      <div class="social-links">
        <a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
        <a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>         
        <a href="" class="facebook" ><i class="fa fa-facebook"></i><span>facebook</span></a>
        <a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>         
        <a href="" class="youtube" ><i class="fa fa-youtube"></i><span>youtube</span></a>
        <a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
      </div>
    </div>
 
</footer>
<!-- Footer Section End -->
