<section class="contact-us">
    
    <div class="contact">
     <h2 class="title">Get in touch with us...</h2>
        <div class="info">
     <!----------------------------ADDRESS----------------------->  
     
     <div class="address">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <p class="add">
         Shopify Pvt.Ltd,<br>
           Sardar Nagar,<br>Ahemdabad.
        </p>
        </div>

        <!--------------------------MOBILE--------------->
        <div class="number">
            <i class="fa fa-phone-square" aria-hidden="true"></i>
        <p class="pno">
           9988665320,
        <br>
           078-653-4466
        </p>
        </div>
        <!--------------MAIL------------------>
        <div class="email">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <p class="mail">
            shopify101@gmail.com
        </p>
        </div>
        <!---------------------------------------->
        </div>      <!-----------------INFO CLOSE----------------------->
        <!---------------------QUERIES----------------------->
     
        <p class="con">
         If you have any Queries or Comments, please don't hesitate to contact us.
        </p>
    </div>

</section>


