<section class="latestproducts">
  <div class="container">
    <div class="title-box">
      <h2>Footwear</h2>
    </div>
    <div class="row latest">
  
    <!--------------girls-shoes---------------->
  
      <div class="col-md-3">
        <div class="product-top">  
        <img src="assets\image\footwear\f2.jpg" class="g1">
        <div class="overlay-right g1-full">
          <button type="button" class="btn btn-secondary " title="add to wishlist">
            <i class="fa fa-heart-o"></i><br>
          </button>
          <button type="button" class="btn btn-secondary " title="add to cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
        </div>
      </div>
  
      
    
      <!-------------------girls-sandal------------------------>
      <div class="col-md-3">
      <div class="product-top">  
      <img src="assets\image\footwear\f3.jpg" class="g2">
        <div class="overlay-right g2-full">
          <button type="button" class="btn btn-secondary " title="add to wishlist">
            <i class="fa fa-heart-o"></i><br>
          </button>
          <button type="button" class="btn btn-secondary " title="add to cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
    </div>
      </div>
        <!----------------------girls-heels--------------------------->
      <div class="col-md-4">
        <div class="product-top">  
        <img src="assets\image\footwear\f4-black.jpg" class="g3">
        <div class="overlay-right g3-full">
          <button type="button" class="btn btn-secondary " title="add to wishlist">
            <i class="fa fa-heart-o"></i><br>
          </button>
          <button type="button" class="btn btn-secondary " title="add to cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
        </div>
      </div>
      </div>
     
      <!-----------------------------TEXT -------------------------------->
      <div class="text">
      <div class="product-bottom text-g1">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
        <h3>Denill Women's Sports Shoes</h3>  
        <h5><span>&#8377;</span>499</h5>
       <a routerLink='/payment' class="square_btn">BUY</a>
    </div>
    
    <div class="product-bottom text-g2">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <h3>SHOFIEE Women's Fashion Sandal</h3>
      <h5><span>&#8377;</span>599</h5>
      <a routerLink='/payment' class="square_btn">BUY</a>
  </div>
    <div class="product-bottom text-g3">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-o"></i>
      <h3>SHOFIEE Women's Fashion Sandal</h3>
      <h5><span>&#8377;</span>799</h5>
      <a routerLink='/payment' class="square_btn">BUY</a>
  </div>
  </div>
      <!------------------------boys--shoes-1-------------------------------->
      <div class="row latest-2">
      <div class="col-md-4">
        <div class="product-top">  
        <img src="assets\image\footwear\f8.jpg" class="b1">
        <div class="overlay-right b1-full">
          <button type="button" class="btn btn-secondary" title="add to wishlist">
            <i class="fa fa-heart-o"></i><br>
          </button>
          <button type="button" class="btn btn-secondary" title="add to cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      </div>
        <!------------------------------boys-shoes-2---------------------------------->
      <div class="col-md-4">
        <div class="product-top">  
        <img src="assets\image\footwear\f6.jpg" class="b2">
        <div class="overlay-right">
          <button type="button" class="btn btn-secondary" title="add to wishlist">
            <i class="fa fa-heart-o"></i><br>
          </button>
          <button type="button" class="btn btn-secondary" title="add to cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
        </div>
      </div>
        <!-------------------------------boys-shoes-3------------------------->
      <div class="col-md-4">
        <div class="product-top">  
        <img src="assets\image\footwear\f10.jpg" class="b3">
        <div class="overlay-right">
          <button type="button" class="btn btn-secondary" title="add to wishlist">
            <i class="fa fa-heart-o"></i><br>
          </button>
          <button type="button" class="btn btn-secondary" title="add to cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div> 
        </div>  
      </div>
    </div>
    
    <!-------------------------------------------->
    <div class="text">
    <div class="product-bottom text-b1">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-o"></i>
     <h3>SEEYOU Men's Casual Sneaker Shoes</h3>
      <h5><span>&#8377;</span>799</h5>
      <a routerLink='/payment' class="square_btn">BUY</a>
      
  </div>
  <div class="product-bottom text-b2">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star-half-o"></i>
   <h3>World Wear Footwear Men's Running Shoes</h3>
    <h5><span>&#8377;</span>699</h5>
    <a routerLink='/payment' class="square_btn">BUY</a>
  </div>
  <div class="product-bottom text-b3">
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star-half-o"></i>
  <i class="fa fa-star-o"></i>
  <h3>TRASE SRV Relax Sports Shoes for Men</h3>
  <h5><span>&#8377;</span>999</h5>
  <a routerLink='/payment' class="square_btn">BUY</a>
  </div>
  </div>
    </div>
    
  </section>
  
  <!--------------------------LATEST PRODUCT END---------------------------------------------->
  
  <!-------------------------FOOTER------------------------->
  <footer class="footer">
    <div class="container">
      <div class="social-links">
        <a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
        <a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>         
        <a href="" class="facebook" ><i class="fa fa-facebook"></i><span>facebook</span></a>
        <a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>         
        <a href="" class="youtube" ><i class="fa fa-youtube"></i><span>youtube</span></a>
        <a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
      </div>
    </div>
 
</footer>
<!-- Footer Section End -->
