.jumbotron 
{
    border-radius:7%;
    background:linear-gradient(50deg,#6ae292, #90aeee);
    box-shadow:6px 8px 15px 0px rgb(165, 158, 158); 
    margin-top:15px;
    margin-left:320px;
    height:526px;
    width:450px;
}
.jumbotron h2
{

    text-align:center;
    margin-bottom:25px;
}

.text
{
    font-weight:650;
 
}

.req
{
    font-weight:bold;
}
.form-control
{
    border-color:black;
}

.fnln
{
    display:inline-flex;
    padding-left:5px;
}
.ln
{
    padding-left:40px;
    padding-right:10px;
}

.btn-dark
{
    margin-top:20px;
    height:50px;
    width:400px;
    font-size:24px;
}